<div style="overflow: hidden;">
    <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" class="m-10">
        <div fxFlex class="card" style="background-color: rgb(239, 83, 80)">
            <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxFlex="60">
                    <mat-icon>people</mat-icon>
                </div>
                <div fxFlex="40">
                    <div fxFill fxLayout="column" class="details text-center">
                        <p class="record">{{totalUser}}</p>
                        <p class="name">Users</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex class="card" style="background-color: rgb(13, 71, 161)">
            <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxFlex="60">
                    <mat-icon>computer</mat-icon>
                </div>
                <div fxFlex="40">
                    <div fxFill fxLayout="column" class="details text-center">
                        <p class="record">{{totalProducts}}</p>
                        <p class="name">Products</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex class="card" style="background-color: rgb(76, 175, 80)">
            <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxFlex="60">
                    <mat-icon>category</mat-icon>
                </div>
                <div fxFlex="40">
                    <div fxFill fxLayout="column" class="details text-center">
                        <p class="record">{{totalCategory}}</p>
                        <p class="name">Category</p>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex class="card" style="background-color: rgb(76 197 255)">
            <div fxFill fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
                <div fxFlex="60">
                    <mat-icon>view_module</mat-icon>
                </div>
                <div fxFlex="40">
                    <div fxFill fxLayout="column" class="details text-center">
                        <p class="record">{{totalModule}}</p>
                        <p class="name">Module</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>