<div class="container-custom container">
    <div class="panel-heading">
        <h2>Module Details</h2>
    </div>
    <div class="container-fluid m-20">
        <form [formGroup]="moduleFormGroup" (ngSubmit)="onSubmit()" class="form" #moduleForm="ngForm">
            <div class="row">
                <div class="col-md-2">
                    <input type="hidden" formControlName="icon" name="Icon" #icon>
                    <div id="content">
                        <div id="main-content">
                            <button type="button" #ddTrigger="matMenuTrigger" [matMenuTriggerFor]="dd"
                                style="padding:6px 15px;" (click)="reloadIcons()">
                                <mat-icon>{{icon.value}}</mat-icon>
                                <mat-icon>arrow_drop_down</mat-icon>
                            </button>
                        </div>
                    </div>

                    <mat-menu #dd="matMenu" [overlapTrigger]="false" class="icon-list">
                        <div (click)="cancelClick($event)" class="dropdown">
                            <mat-form-field class="form-element" style="padding-bottom: 0px;">
                                <input matInput placeholder="Search icons" [(ngModel)]="searchIconText"
                                    [ngModelOptions]="{standalone: true}" (keyup)="searchIcon()" />
                            </mat-form-field>

                            <ng-container *ngFor="let icon of iconList">
                                <button class="mr-5 mb-5" (click)="onSelectIcon(icon)">
                                    <mat-icon [title]="icon">{{icon}}</mat-icon>
                                </button>
                            </ng-container>

                            <ng-container *ngIf="iconList.length == 0">
                                <span>No records found.</span>
                            </ng-container>
                        </div>
                    </mat-menu>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Module Prefix" formControlName="prefix" name="Prefix"
                            autocomplete="off">
                        <mat-error *ngIf="moduleFormGroup.hasError('required','prefix')">
                            Please enter prefix
                        </mat-error>
                        <mat-error *ngIf="moduleFormGroup.hasError('maxlength','prefix')">
                            Please enter valid prefix
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    <mat-form-field class="form-element">
                        <input matInput placeholder="Module Name" formControlName="name" name="Name" autocomplete="off">
                        <mat-error *ngIf="moduleFormGroup.controls['name'].invalid">
                            Please enter name
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row m-20">
                <div class="col-md-4">
                    <mat-slide-toggle formControlName="isActive" name="active" color="primary">Active
                    </mat-slide-toggle>
                </div>
            </div>

            <br />
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <h2>Templates</h2>
                    </div>
                    <div class="col-xs-8  text-end">
                        <button mat-raised-button color="primary" type="button" class="button btn-custom-primary"
                            style="width:0%;" (click)="addNewForm()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mt-20 mb-20">
                <div style="border: 2px solid #dddddd">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Template</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="formDesignList.length == 0">
                                <tr class="text-center">
                                    <td colspan="3">There are no templates...</td>
                                </tr>
                            </ng-container>
                            <ng-container *ngFor="let formDesign of formDesignList">
                                <tr>
                                    <td>{{formDesign.formName}}</td>
                                    <td>{{formDesign.isDraft ? "Draft":"Active"}}</td>
                                    <td class="text-end">
                                        <a class="mr-5">
                                            <mat-icon class="delete" style="margin-top:-3px" title="Edit Form Design"
                                                (click)="editFormDesign(formDesign.id)">
                                                edit</mat-icon>
                                        </a>
                                        <a class="mr-5">
                                            <mat-icon class="delete" style="margin-top:-3px" title="Delete Form Design"
                                                (click)="deleteFormDesign(formDesign.id)">
                                                delete</mat-icon>
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <button mat-raised-button color="primary" type="submit" class="button btn-custom-primary"
                        [disabled]="moduleFormGroup.invalid">Save</button>
                    <button mat-raised-button color="danger" type="button" class="button btn-custom-secondary"
                        (click)="goToModuleList(false)">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>