<section class="section-container">
    <mat-toolbar color="primary">
        <span class="fill-remaining-space text-center">{{title}}</span>
    </mat-toolbar>

    <div class="container" novalidate>
        <form [formGroup]="categoryFormGroup" (ngSubmit)="onSubmit()" class="form" #productForm="ngForm">

            <mat-form-field class="form-element">
                <input matInput placeholder="Category Name" formControlName="name" name="Name" autocomplete="off">
                <mat-error *ngIf="categoryFormGroup.controls['name'].invalid">
                    Please enter name
                </mat-error>
            </mat-form-field>

            <input type="hidden" formControlName="id" name="Id">

            <div class="form-element">
                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="submit" class="button btn-primary"
                        [disabled]="categoryFormGroup.invalid">{{submitBtnText}}</button>
                    <button mat-raised-button color="danger" type="button" class="button btn-secondary"
                        (click)="goToCategoryList()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>